<h1>Dice Roll</h1>

<form action="/process_roll">
  
  <label for="num_dice">Number of dice to roll?</label>
  <input id="num_dice" type="text" name="dice">
  
  
  <label for="sides_per_die">How many sides per die?</label>
  <input id="sides_per_die" type="text" name="sides">

  <button>Roll!</button>
</form>
